<!-- <div class="footer-container">
    <div class="grid pt-2">
        <div class="col-12 md:col-12 lg:col-4">
            <div class="text-xl w-full text-center text-white px-5">
                LOCATION
            </div>
            <div class="text-sm w-full text-center text-gray-400 px-5">
                Cebu City Philippines, 6000
            </div>
            <br />
            <div class="w-full text-center">
                <img src="./../../../../assets/img/home/flag.png" width="50" />
            </div>
            <br />
        </div>
        <div class="col-12 md:col-12 lg:col-4 text-center">
            <button pButton pRipple type="button" icon="pi pi-facebook"
                class="p-button-secondary p-button-rounded p-button-outlined mr-1 text-white"></button>
            <button pButton pRipple type="button" icon="pi pi-twitter"
                class="p-button-secondary p-button-rounded p-button-outlined mr-1 text-white"></button>
            <button pButton pRipple type="button" icon="pi pi-discord"
                class="p-button-secondary p-button-rounded p-button-outlined mr-1 text-white"></button>
            <button pButton pRipple type="button" icon="pi pi-github"
                class="p-button-secondary p-button-rounded p-button-outlined mr-1 text-white"></button>
            <br />
            <br />
        </div>
        <div class="col-12 md:col-12 lg:col-4">
            <div class="text-xl w-full text-center text-white px-5">
                ABOUT <img src="./../../../../assets/img/home/humedifi_logo.png" width="100"
                    style="margin: 2px 3px -4px 4px;" />
            </div>
            <div class="text-sm w-full text-center text-gray-400 px-5">
                Whether you are a developer or a trader, Humidefi is the easiest place where you could build your own
                dApp, perform DeFi
                functions and create your own fungible and non-fungible tokens.
            </div>
        </div>
    </div>
</div> -->
<div class="version-container">
    <div class="text-xs text-center text-white">
        Humidefi V.1.20220625
    </div>
</div>