<div class="w-full">
    <div class="topbar-container">
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/dapp/portfolio">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-briefcase" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Portfolio
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/dapp/load">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-mobile" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Load
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/dapp/withdraw">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-credit-card" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Withdraw
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/dapp/swap">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-arrows-h" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Swap
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/dapp/stake">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-box" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Stake
                    </span>
                </div>
            </ng-template>
        </p-button>
        <p-button pRipple type="button" styleClass="p-button-lg p-button-text text-white text-center mr-2"
            [style]="{'padding':'10px'}" routerLink="/dapp/pay">
            <ng-template pTemplate="content">
                <div class="w-full text-center">
                    <i class="pi pi-wallet" style="font-size: 1.5rem;"></i>
                    <br />
                    <span class="text-sm">
                        Pay
                    </span>
                </div>
            </ng-template>
        </p-button>
    </div>
</div>