<div class="sidebar-container">
    <div style="width: 100%; text-align: center; padding: 10px 12px;">
        <img src="./../../../../assets/img/home/humedifi_logo.png" style="width: 100%; margin-bottom: 2px;" />
        <br />
        <span class="text-gray-600 text-sm">
            Decentralized Finance
            Hub of UMI and PHPU
        </span>
    </div>
    <br />
    <div class="menu-items">
        <p-menu [model]="menuItems" [style]="{'width':'100%', 'border': 'none', 'font-size': '18px'}"></p-menu>
    </div>
</div>