<div class="dapp-container">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 px-2 pb-4 pt-2">
            <span class="text-gray-600">
                <img src="./../../../../assets/img/home/humedifi_logo.png" width="80"
                    style="margin: 2px 3px -4px 3px;" /> is a modefied substrate chain with a proof-of-authority (PoA)
                consensus that allows you to
                stake from our authorized validators. Since they are authorized nodes, there is no risk of slashing, not
                like on a typical proof-of-stake (PoS) consensus. The longer you stake the more reward (APR) you get.
            </span>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container overflow-hidden w-full">
                    <div class="bg-white px-6 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <div class="text-xl font-medium mb-3" style="color: #ef4943">
                            Stake your UMI for 3 Months <span
                                style="float: right; color: rgb(77, 77, 77); font-weight: bold;">33.00% APR / 9.98M UMI
                                TVL</span>
                        </div>
                        <div class="grid mt-2 px-4">
                            <div class="col-12 md:col-12 lg:col-2 px-1 text-center">
                                <i class="pi pi-box mt-3 text-gray-600" style="font-size: 4rem"></i>
                            </div>
                            <div class="col-12 md:col-12 lg:col-4 px-1">
                                <div>
                                    Next Reward
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0.020947 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-3 px-1">
                                <div>
                                    Your Rewards
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-3 px-1">
                                <div>
                                    Total Balance
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="mt-2 px-3">
                            <button pButton type="button" label="Stake"
                                class="p-button-warning p-button-sm mr-2"></button>
                            <button pButton type="button" label="Claim" class="p-button-success p-button-sm"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid pt-2">
        <div class="col-12 md:col-12 lg:col-12 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container overflow-hidden w-full">
                    <div class="bg-white px-6 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <div class="text-xl font-medium mb-3" style="color: #ef4943">
                            Stake your UMI for 12 Months <span
                                style="float: right; color: rgb(77, 77, 77); font-weight: bold;">59.25% APR / 15.44M UMI
                                TVL</span>
                        </div>
                        <div class="grid mt-2 px-4">
                            <div class="col-12 md:col-12 lg:col-2 px-1 text-center">
                                <i class="pi pi-box mt-3 text-gray-600" style="font-size: 4rem"></i>
                            </div>
                            <div class="col-12 md:col-12 lg:col-4 px-1">
                                <div>
                                    Next Reward
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0.020947 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-3 px-1">
                                <div>
                                    Your Rewards
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-3 px-1">
                                <div>
                                    Total Balance
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="mt-2 px-3">
                            <button pButton type="button" label="Stake"
                                class="p-button-warning p-button-sm mr-2"></button>
                            <button pButton type="button" label="Claim" class="p-button-success p-button-sm"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid pt-2">
        <div class="col-12 md:col-12 lg:col-12 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container overflow-hidden w-full">
                    <div class="bg-white px-6 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <div class="text-xl font-medium mb-3" style="color: #ef4943">
                            Stake your UMI for 18 Months <span
                                style="float: right; color: rgb(77, 77, 77); font-weight: bold;">81.72% APR / 9.98M UMI
                                TVL</span>
                        </div>
                        <div class="grid mt-2 px-4">
                            <div class="col-12 md:col-12 lg:col-2 px-1 text-center">
                                <i class="pi pi-box mt-3 text-gray-600" style="font-size: 4rem"></i>
                            </div>
                            <div class="col-12 md:col-12 lg:col-4 px-1">
                                <div>
                                    Next Reward
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0.020947 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-3 px-1">
                                <div>
                                    Your Rewards
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-3 px-1">
                                <div>
                                    Total Balance
                                </div>
                                <br />
                                <div class="text-2xl">
                                    0 <span class="font-bold">UMI</span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="mt-2 px-3">
                            <button pButton type="button" label="Stake"
                                class="p-button-warning p-button-sm mr-2"></button>
                            <button pButton type="button" label="Claim" class="p-button-success p-button-sm"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>