<div class="dapp-container">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-2"></div>
        <div class="col-12 md:col-6 lg:col-8 px-2">
            <div class="card border-round-3xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container w-full">
                    <div class="bg-white px-6 pt-4 pb-4 border-round-3xl" style="min-height: 180px;">
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-6">
                                <div class="mb-2">
                                    Source Chain
                                </div>
                                <div>
                                    <p-dropdown [options]="sourceNetworks" [style]="{'width':'100%'}"
                                        optionLabel="name">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-6">
                                <div class="mb-2">
                                    Destination Chain
                                </div>
                                <div>
                                    <p-dropdown [options]="sourceNetworks" [style]="{'width':'100%'}"
                                        optionLabel="name">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-12">
                                <div class="mb-2">
                                    Destination Account
                                </div>
                                <div class="card border-round-2xl border-1 border-gray-400">
                                    <div class="flex-wrap card-container overflow-hidden w-full">
                                        <div class="px-3 pt-3 font-bold text-gray-700">
                                            {{walletMetaName}}
                                        </div>
                                        <div class="text-lg px-3 pt-2 pb-3 text-gray-500">
                                            {{walletKeyPair}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-12">
                                <div class="mb-2">
                                    Amount
                                </div>
                                <div class="p-inputgroup">
                                    <input type="number" pInputText placeholder="0" value="0">
                                    <span class="p-inputgroup-addon">aUSD</span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="mt-2 px-3 text-center">
                            <button pButton type="button" label="Transfer"
                                class="p-button-warning p-button-lg mr-2"></button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2"></div>
    </div>
    <div class="grid pt-2">
        <div class="col-12 md:col-6 lg:col-2"></div>
        <div class="col-12 md:col-8 lg:col-8 px-2">
            <div class="card border-round-3xl" style="box-shadow: 3px 2px 5px 0px #999999 !important;">
                <div class="flex-wrap card-container overflow-hidden w-full">
                    <div class="bg-pink-900 px-6 pt-6 pb-4 text-white border-round-3xl" style="min-height: 180px;">
                        <div class="text-2xl font-medium text-white mb-2">
                            Your Portfolio
                        </div>
                        <br />
                        <div class="text-base font-medium text-white mb-2">
                            Total / Currency: PHP
                        </div>
                        <div class="text-3xl font-medium text-white white-space-normal">
                            <span class="font-bold">PHP</span> 11,000.00
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2"></div>
    </div>
</div>