.circle {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    height: 90px;
    width: 90px;
    text-align: center;
    border-radius: 50%;
    color: rgb(224, 224, 224) !important;
}