<div class="dapp-container">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 px-2 pb-4 pt-2">
            <span class="text-gray-600">
                <img src="./../../../../assets/img/home/humedifi_logo.png" width="80"
                    style="margin: 2px 3px -4px 3px;" /> supports off-ramp withdrawal using your favorite fiat
                facilities. All portfolio source will be
                converted to PHPU stable coin upon withdrawal.
            </span>
        </div>
    </div>
    <div class="grid pt-2">
        <div class="col-12 md:col-12 lg:col-1 px-2"></div>
        <div class="col-12 md:col-12 lg:col-10 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container  w-full">
                    <div class="bg-white px-4 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <div class="px-3 pt-3 text-xl font-medium text-gray-700">
                            Portfolio Source
                        </div>
                        <div class="grid px-5 py-5">
                            <div class="col-12 md:col-12 lg:col-4">
                                <div class="">
                                    Ticker
                                    <p-dropdown [options]="tokens" [(ngModel)]="selectedToken"
                                        placeholder="Select a Token" class="p-inputtext-lg" [style]="{'width':'100%'}">
                                        <ng-template pTemplate="selectedItem">
                                            <div *ngIf="selectedToken">
                                                <img src="./../../../../assets/img/tokens/UMI.png" width="27"
                                                    style="float: left;" />
                                                &nbsp;
                                                <span class="text-xl">
                                                    {{selectedToken}}
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template let-token pTemplate="item">
                                            <div>
                                                <img src="./../../../../assets/img/tokens/UMI.png" width="27"
                                                    style="float: left;" />
                                                &nbsp;
                                                <span class="text-xl">
                                                    {{token}}
                                                </span>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-4">
                                Quantity
                                <input type="number" value="0" class="p-inputtext-lg" placeholder="" pInputText
                                    [style]="{'width':'100%'}" />
                            </div>
                            <div class="col-12 md:col-12 lg:col-4">
                                PHP
                                <input type="text" class="p-inputtext-lg" placeholder="" pInputText disabled
                                    [style]="{'width':'100%'}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-1 px-2"></div>
    </div>
    <div class="mt-4 mb-4 px-3 text-center">
        <button pButton type="button" label="Withdraw" class="p-button-warning p-button-lg mr-2"></button>
    </div>
    <div class="grid pt-2">
        <div class="col-12 md:col-12 lg:col-1 px-2"></div>
        <div class="col-12 md:col-12 lg:col-5 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container  w-full">
                    <div class="bg-white px-4 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <img src="./../../../../assets/img/banks/unionbank.png" class="w-full" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-5 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container  w-full">
                    <div class="bg-white px-4 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <img src="./../../../../assets/img/banks/gcash.png" class="w-full" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-1 px-2"></div>
    </div>
</div>