<div class="dapp-container">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-2"></div>
        <div class="col-12 md:col-8 lg:col-8 px-2">
            <div class="card border-round-3xl" style="box-shadow: 3px 2px 5px 0px #999999 !important;">
                <div class="flex-wrap card-container overflow-hidden w-full">
                    <div class="bg-pink-900 px-6 pt-6 pb-4 text-white border-round-3xl" style="min-height: 180px;">
                        <div class="text-2xl font-medium text-white mb-2">
                            Your Portfolio
                        </div>
                        <br />
                        <div class="text-base font-medium text-white mb-2">
                            Total / Currency: PHP
                        </div>
                        <div class="text-3xl font-medium text-white white-space-normal">
                            <span class="font-bold">PHP</span> 11,000.00
                        </div>
                        <br />
                        <br />
                        <button pButton type="button" label="Withdraw"
                            class="p-button-warning p-button-lg mr-2"></button>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2"></div>
    </div>
</div>