<div>
    <!-- for the resposive sidebar menu -->
</div>

<div class="header-container">
    <div class="grid">
        <div class="col align-content-center">
            <div class="flex align-content-center">
                <div class="flex align-items-center header-title text-gray-700"
                    style="min-width: 200px; min-height: 35px;">
                    <i class="{{iconName}}" style="font-size: 1.8rem"></i> &nbsp; {{titleName}}
                </div>
            </div>
        </div>
        <div class="col text-right">
            <p-button styleClass="p-button-outlined p-button-secondary p-button-sm" (click)="changeAccount()"
                style="margin-right: 5px;">
                <img alt="logo" src="./../../../../assets/img/home/polkadot_icon.png" style="width: 1rem" />
                <span class="ml-2 font-bold">{{walletName}}</span>
            </p-button>
            <p-button styleClass="p-button-secondary p-button-sm">
                <i class="pi pi-cog "></i>
            </p-button>
        </div>
    </div>
</div>

<div class="breadcrumb-container">
    <p-breadcrumb [model]="menuItems" [home]="home"></p-breadcrumb>
</div>

<p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}"
    [(visible)]="displayChangeAccountDialog" [modal]="true" [maximizable]="true">
    <app-wallet [isLogin]="true"></app-wallet>
</p-dialog>