.header-container {
  padding: 20px 20px 0px 20px;
  // background-color: white;
  // margin-bottom: 10px;
  // box-shadow: 3px 2px 5px 0px #ebebeb !important;
}

.breadcrumb-container {
  padding: 0px 20px 10px 20px;
}

.header-title {
    font-size: 30px;
    font-weight: 500;

}
