<div class="dapp-container">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-12 px-2 pb-4 pt-2">
            <span class="text-gray-600">
                Use your cryptocurrency to pay someone with a <img src="./../../../../assets/img/home/humedifi_logo.png"
                    width="80" style="margin: 2px 3px -4px 3px;" /> address. In the future you can pay your bills
                through this facility.
            </span>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-2"></div>
        <div class="col-12 md:col-6 lg:col-8 px-2">
            <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                <div class="flex-wrap card-container w-full">
                    <div class="bg-white px-6 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-12">
                                <div class="mb-2">
                                    Source Account
                                </div>
                                <div class="card border-round-2xl border-1 border-gray-400">
                                    <div class="flex-wrap card-container overflow-hidden w-full">
                                        <div class="px-3 pt-3 font-bold text-gray-700">
                                            {{walletMetaName}}
                                        </div>
                                        <div class="text-sm px-3 pt-2 text-gray-500">
                                            {{walletKeyPair}}
                                        </div>
                                        <div class="text-lg px-3 pt-2 pb-3">
                                            <span class="text-gray-700">Balance:</span>&nbsp;<span class="font-bold"
                                                style="color: #ef4943">{{walletBalance}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-4">
                                <div class="mb-2">
                                    Source Chain
                                </div>
                                <div>
                                    <p-dropdown [options]="tokens" [style]="{'width':'100%'}">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-8">
                                <div class="mb-2">
                                    Amount
                                </div>
                                <div class="p-inputgroup">
                                    <input type="number" pInputText placeholder="0" value="0"
                                        [(ngModel)]="transferData.amount">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-12">
                                <div class="mb-2">
                                    Destination Account (Wallet Address)
                                </div>
                                <input type="text" pInputText placeholder="" value="" class="p-inputtext-lg"
                                    [style]="{'width':'100%'}" [(ngModel)]="transferData.recipient">
                            </div>
                        </div>
                        <br />
                        <div class="mt-2 px-3 text-center">
                            <button pButton type="button" label="Transfer" class="p-button-warning p-button-lg mr-2"
                                (click)="transfer()" [disabled]="isProcessing"></button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2"></div>
    </div>
</div>

<p-dialog [(visible)]="showProcessDialog" [style]="{width: '25vw'}" [modal]="true" [closable]="false">
    <div class="w-full text-lg font-bold text-center mb-3">
        Processing
    </div>
    <div class="w-full text-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</p-dialog>