<div class="dapp-container">
    <div class="w-full text-center" *ngIf="isLoading">
        <br /><br /><br /><br /><br />
        <p-progressSpinner></p-progressSpinner>
        <br /><br />
        Please wait...
        <br /><br /><br /><br /><br />
    </div>
    <div class="w-full" *ngIf="!isLoading">
        <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 px-2 pb-4 pt-2">
                <span class="text-gray-600">
                    Use your cryptocurrency to pay someone with a <img
                        src="./../../../../assets/img/home/humedifi_logo.png" width="80"
                        style="margin: 2px 3px -4px 3px;" /> address. In the future you can pay your bills
                    through this facility.
                </span>
            </div>
        </div>
        <div class="grid pt-2">
            <div class="col-12 md:col-12 lg:col-1 px-2"></div>
            <div class="col-12 md:col-12 lg:col-10 px-2">
                <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                    <div class="flex-wrap card-container  w-full">
                        <div class="bg-white px-4 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                            <div class="px-3 pt-3 text-xl font-medium text-gray-700">
                                Portfolio Source
                            </div>
                            <div class="grid px-5 py-5">
                                <div class="col-12 md:col-12 lg:col-6">
                                    <div class="">
                                        Ticker
                                        <p-dropdown [options]="sourceTokens" [(ngModel)]="selectedSourceToken"
                                            placeholder="Select a Token" class="p-inputtext-lg"
                                            [style]="{'width':'100%'}" (onChange)="sourceTickerOnChange($event)">
                                            <ng-template pTemplate="selectedItem">
                                                <div *ngIf="selectedSourceToken">
                                                    <img *ngIf="selectedSourceToken == 'UMI'"
                                                        src="./../../../../assets/img/tokens/UMI.png" width="27"
                                                        style="float: left;" />
                                                    <img *ngIf="selectedSourceToken == 'PHPU'"
                                                        src="./../../../../assets/img/tokens/PHPU.png" width="27"
                                                        style="float: left;" />
                                                    &nbsp;
                                                    <span class="text-xl">
                                                        {{selectedSourceToken}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                            <ng-template let-token pTemplate="item">
                                                <div>
                                                    <img *ngIf="token == 'UMI'"
                                                        src="./../../../../assets/img/tokens/UMI.png" width="27"
                                                        style="float: left;" />
                                                    <img *ngIf="token == 'PHPU'"
                                                        src="./../../../../assets/img/tokens/PHPU.png" width="27"
                                                        style="float: left;" />
                                                    &nbsp;
                                                    <span class="text-xl">
                                                        {{token}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="col-12 md:col-12 lg:col-6">
                                    Quantity
                                    <div class="p-inputgroup">
                                        <p-inputNumber [(ngModel)]="sourceQuantity" class="p-inputtext-lg text-right"
                                            [style]="{'width':'100%'}" [minFractionDigits]="5"
                                            (onBlur)="sourceQuantityOnBlur($event)">
                                        </p-inputNumber>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-1 px-2"></div>
        </div>
        <div class="mt-4 mb-4 px-3 text-center">
            <button pButton type="button" label="Pay" class="p-button-text p-button-danger p-button-lg mr-2 text-white"
                (click)="transfer()" [disabled]="isProcessing"
                style="background: linear-gradient(90deg,rgba(244,60,113,1) 0%,rgba(240,73,65,1) 100%);"></button>
        </div>
        <div class="grid pt-2">
            <div class="col-12 md:col-12 lg:col-1 px-2"></div>
            <div class="col-12 md:col-12 lg:col-10">
                <div class="mb-2">
                    Destination (Wallet Address)
                </div>
                <input type="text" pInputText placeholder="Example: 18Fz5QHL1BcTP7xYj6TDpmtA2bstGbnLDQYQN69LU2iZMbDx"
                    value="" class="p-inputtext-lg" [style]="{'width':'100%'}" [(ngModel)]="transferData.to">
            </div>
            <div class="col-12 md:col-12 lg:col-1 px-2"></div>
        </div>
        <div class="grid pt-2">
            <div class="col-12 md:col-12 lg:col-1 px-2"></div>
            <div class="col-12 md:col-12 lg:col-10 px-2">
                <div class="card border-round-2xl" style="box-shadow: 3px 2px 5px 0px #dfdfdf !important;">
                    <div class="flex-wrap card-container  w-full">
                        <div class="bg-white px-4 pt-4 pb-4 border-round-2xl" style="min-height: 180px;">
                            <div class="px-3 pt-3 text-xl font-medium text-gray-700">
                                Portfolio Destination
                            </div>
                            <div class="grid px-5 py-5">
                                <div class="col-12 md:col-12 lg:col-6">
                                    <div class="">
                                        Ticker
                                        <p-dropdown [options]="destinationTokens" [(ngModel)]="selectedDestinationToken"
                                            (onChange)="destinationTickerOnChange($event)" placeholder="Select a Token"
                                            class="p-inputtext-lg" [style]="{'width':'100%'}" [disabled]="true">
                                            <ng-template pTemplate="selectedItem">
                                                <div *ngIf="selectedDestinationToken">
                                                    <img *ngIf="selectedDestinationToken == 'UMI'"
                                                        src="./../../../../assets/img/tokens/UMI.png" width="27"
                                                        style="float: left;" />
                                                    <img *ngIf="selectedDestinationToken == 'PHPU'"
                                                        src="./../../../../assets/img/tokens/PHPU.png" width="27"
                                                        style="float: left;" />
                                                    &nbsp;
                                                    <span class="text-xl">
                                                        {{selectedDestinationToken}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                            <ng-template let-token pTemplate="item">
                                                <div>
                                                    <img *ngIf="token == 'UMI'"
                                                        src="./../../../../assets/img/tokens/UMI.png" width="27"
                                                        style="float: left;" />
                                                    <img *ngIf="token == 'PHPU'"
                                                        src="./../../../../assets/img/tokens/PHPU.png" width="27"
                                                        style="float: left;" />
                                                    &nbsp;
                                                    <span class="text-xl">
                                                        {{token}}
                                                    </span>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="col-12 md:col-12 lg:col-6">
                                    Quantity
                                    <div class="p-inputgroup">
                                        <p-inputNumber [(ngModel)]="destinationQuantity"
                                            class="p-inputtext-lg text-right" [style]="{'width':'100%'}"
                                            [minFractionDigits]="5" [disabled]="true">
                                        </p-inputNumber>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-1 px-2"></div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showProcessDialog" [style]="{width: '50vw'}" [modal]="true" [closable]="false">
    <div class="w-full text-center">
        <div class="w-full" *ngIf="!isTransferProcessed && !isTransferError">
            <p-progressSpinner></p-progressSpinner>
            <br /><br />
        </div>
        <div class="w-full" *ngIf="isTransferProcessed">
            <i class="pi pi-check" style="font-size: 5rem; font-weight: bold; color: rgb(119, 255, 119);"></i>
            <br />
        </div>
        <div class="w-full" *ngIf="isTransferError">
            <i class="pi pi-times" style="font-size: 5rem; font-weight: bold; color: rgb(202, 74, 74);"></i>
            <br />
        </div>
        <div style="width: 100%; white-space: pre-wrap;">
            {{transferProcessMessage}}
        </div>
        <br />
        <div class="w-full" *ngIf="isTransferProcessed || isTransferError">
            <br />
            <button pButton type="button" label="OK" class="p-button-text p-button-danger text-white"
                (click)="showProcessDialog = false"
                style="background: linear-gradient(90deg,rgba(244,60,113,1) 0%,rgba(240,73,65,1) 100%);"></button>
        </div>
    </div>
</p-dialog>

<p-toast position="top-right" key="error-payment"></p-toast>